@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Doodle+Shadow&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior:smooth ;
  font-family: "Poppins";
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}

section{
  min-height: 10vh;
  padding: 10rem 9% 2rem;
}

:root {
  --primary-color-dark: #052659;
  --primary-color-light: #2691fc;
  --primary-color: #01a2ff;
  --primary-btn-color: #00B3FF;
  --text-grey: #333333;
  --text-light: #efefef;
  --white: #ffffff;
  --black: #000000;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #ffffff51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
/*span*/
.highlightblue{
  color: #00bfff;
}
/* Scroll Stuff */

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px #fff);
}

/* End scroll stuff */

.logo {
  font-size: 2rem;
  color: var(--black);
  user-select: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img{
  width: 60px;
  height: 50px;
}
.nav a {
  position: relative;
  font-size: 20px;
  color: var(--text-grey);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 3px;
  background: #00bfff;
  border-radius: 5px;
  transform-origin: right;
  transform: scalex(0); 
  transition: transform .5s;
}

.nav a:hover::after {
  transform-origin: left;
  transform: scalex(1);
}

.btnLogin-popup {
  width: 130px;
  height: 50px;
  background: var(--primary-btn-color);
  border: 2px var(--primary-btn-color);
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-light);
  font-weight: 500;
  margin-left: 40px;
  transition: .553
}

.btnLogin-popup a {
  text-decoration: none;
  color: var(--text-dark);
}

.btnLogin-popup:hover {
  background: #f6ff74;
  color: var(--primary-color);
}

.booknow-button a{

  background-color: #00B3FF; 
  border: #4cc9ff solid 2px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  font-size: 1.3rem;
  margin: 30px 2px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
}

.booknow-button a:hover{

  background-color: #ffffff; 
  color: #00B3FF;
  border: #4cc9ff solid 2px;
}

.booknow-button{
  background-color: #ffffff;
}

/* ANDITO LAHAT*/
.back-button {
    background-color: rgb(255, 255, 255); 
    padding: 10px 32px;
    text-decoration: none; 
    color: rgb(0, 0, 0);
    margin-left: 130px;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 50px 0px 80px ;
    margin-right: 80px;
  }
  #calendar {
    width: 200px;
    height: 200px;
  }
  input[type="date"],
  input[type="time"] {
    padding: 9px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
  }
  .time-title{
    margin-top: 20px;
    margin-bottom: 1px;
  }
  #timeInput {
    padding: 8px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: 1px solid #ccc; /* Add border style */
    border-radius: 4px; /* Add border radius for rounded corners */
    margin-right: 150px; /* Add margin */
    margin-bottom: 0.5px;
  }
  .tour{
    width: 490px;
    height: 600px;
    border-radius: 15px;
  }
  .tour-1{
    width: 500px;
    height: 430px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    margin-left: 30px;
  }
  .tour-2{
    height: 105px;
    width: 158px;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin-right: 4.5px;
  }
  .tour-3{
    height: 105px;
    width: 158px;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin-left: 4.5px;
  }
  .tour-4{
    height: 105px;
    width: 158px;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin-left: 9.5px;
  }
  .threecontainers{
    padding-left: 30px;
    width: 600px;
    
  }
  .tour-1{
    background-image: url('https://media.istockphoto.com/id/1303124571/photo/helsinki-uspenski-cathedral-and-harbour-waterfront-ferris-wheel-illuminated-finland.jpg?s=612x612&w=0&k=20&c=FFtnle_82els6VS9uSXZJwE8hpOUOAVKxV1lynpmGv0=')
  }
  .tour-2{
    background-image: url('https://media.istockphoto.com/id/1314930800/photo/the-modern-neighborhood-jatkasaari-of-helsinki-finland.jpg?s=612x612&w=0&k=20&c=nPOQa-M20F6QGJNjYNIKE31Pm7tgMvNmSOOOuiBOLeM=')
  }
  .tour-3{
    background-image: url('https://media.istockphoto.com/id/648822152/photo/famous-helsinki-cathedral-in-evening-light-helsinki-finland.jpg?s=612x612&w=0&k=20&c=BG0YjXusqwt-xpJHNbL_F94E92BOFvIXQeEW6OD-ukE=')
  }
  .tour-4{
    background-image: url('https://media.istockphoto.com/id/183996236/photo/helsinki-finland.jpg?s=612x612&w=0&k=20&c=7fZ7yf8u-tuzy3zOvlm_Sv8AA_ZI8ZQDBsIQgKtvoN4=')
  }



  /* container Japan Tour1 */

  .tour1{
    font-family: Roboto, Arial, sans-serif;
    width: 490px;
    height: 500px;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
  }
  .tour1 h1{
    font-size: 40px;
  }
  .tour1 h2{
    font-size: 23px;
    margin-bottom: 18px;
    margin-top: 12px;
    font-weight:900;
  }
  .tour1 p{
    font-size: 13px;
    line-height: 1;
    margin-bottom: 11px;
    color: #bab8be;
    line-height: 200%;
  }
  .title h1{
    padding: 50px 50px 0px 159px ;
    margin-bottom: 15px;
    font-weight:900;
    font-size: 23px;
  }
  .detailsparagraph{
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 11px;
    margin-left: 80px;
  }
  .iconss{
    margin-left: 80px;
  }
  .container2 {
    padding: 0px 50px 0px 80px ;
    line-height: 2;
  }
  .container2 p{
    font-size: 15px;
  }
  .details img{
    height: 15px;
    width: 15px;
    margin-top: 8px;
  }

/*Customer Section*/

.customer {
  display: flex;
  align-items:center;
  padding-top: 0px;
  padding-left: 16rem;
}

.containertwo {
  background: #fff;
  padding: 20px;
  font-family: monospace;
  width: 100%;
  
}
.head{
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text {
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 0.9em;
}

.commentbox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.commentbox > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}
.content{
  width: 100%;
}
.user {
  border: none;
  outline: none;
  margin: 5px 0;
  color: #808080;
  margin-left: 20px;
  padding: 10px;
}
.commentinput > input {
  border: none;
  padding: 10px;
  padding-left: 0;
  outline: none;
  border-bottom: 2px solid #00B3FF;
  margin-bottom: 10px;
  width: 95%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3f3f3f;
}

.buttons button.disabled {
  padding: 5px 10px;
  background: white;
  color: #3f3f3f;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;

}

.buttons button.abled {
  background: #00B3FF;
  color: #fff;
  border-radius: 10px;
  width: 10%;
}

.deleteAllBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: white;
  margin-right: 6rem;
  cursor: pointer;
}

.policy {
  margin: 20px 0;
  font-size: 0.8 rem;
  font-family: Arial, sans-serif;
  color: #808080;
}

.policy a {
  text-decoration: none;
  color: blue;
}

.notify >input {
  margin-right: 5px;
}

.parents {
  font-family: Arial, Sans-serif;
  display: flex;
  margin-bottom: 30px;
}
.parents h1 {
  font-size: 0.9em;
}

.parents p {
  margin: 10px 0;
  font-size: 0.9em;
}

.parents > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 2rem;
}

.attach img {
  width: 200px;
  height: 200px;
  display: wrap;
  justify-content: space-around;
  margin-left: 5px;
  border-radius: 10px;
}

.engagements {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.engagements img{
  width: 10px;
}

.engagements img:nth-child(1) {
  margin-right: 10px;
  width: 10px;
}

.date {
  color: #808080;
  font-size: 0.8em;
}

.deleteBtn {
  color: #808080;
  font-size: 0.8em;
  background-color: white;
}

/* Effects*/

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* ------  Footer   ------ */

.footer_container {
  max-width: 1080px;
  margin: auto;
  height: fit-content;
}

.row {
  display: flex;
}

ul {
  list-style: none;
}

.footer {
  background-color: #3f3e3e;
  padding: 20px 0;
}

.footer-col {
  width: 20%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 15px;
  color: var(--text-light);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 12px;
  color: var(--text-light);
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: var(--primary-color-light);
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--black);
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: var(--primary-btn-color);
  background-color: var(--text-grey);
}

#icons {
  color: var(--primary-btn-color);
}

hr {
  border: 1px solid var(--text-light);
}

.foot_logo img {
  display: flex;
  width: 50px;
  height: auto;
}

/* ------  Footer End   ------ */

@media (max-width:1440px) {
  header {
      padding: 20px 4%;
  }
}

@media (max-width:1366px) {
  .logo {
      font-size: 25px;
  }

  .logo img {
      width: 40px;
      height: auto;
  }

  .navlist a {
      margin: 0 25px;
  }

  .nav_btn {
      padding: 11px 23px;
  }
}


@media (max-width:1024px) {
  .logo {
      font-size: 20px;
  }

  .logo img {
      width: 30px;
      height: auto;
  }

  .navlist a {
      margin: 0 18px;
  }

  .nav_btn {
      padding: 6px 15px;
  }

}


@media (max-width:893px) {
  header {
      padding: 13px 2%;
  }

  .logo {
      font-size: 16px;
  }

  .logo img {
      width: 25px;
      height: auto;
  }

  .navlist a {
      margin: 0 15px;
  }

  .nav_btn {
      padding: 3px 12px;
  }

}


@media (max-width: 794px) {
  .navlist a {
      margin: 0 12px;
  }

  .nav_btn {
      padding: 3px 9px;
  }

}




@media (max-width:768px) {
  .header {
      display: none;
      padding: 10px 2%;
  }

  #menu-icon {
      display: block;
  }

  .navlist {
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(32px);
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 180px;
      transition: all .7s ease;
  }

  .navlist a {
      display: block;
      padding: 0;
      margin: 0px 0px 50px 0px;
      font-size: 1.7rem;
  }

  .navlist.open {
      right: 0;
  }

  .nav_btn {
      display: none;
  }
}


@media(max-width: 767px) {
  .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
      width: 100%;
  }
}

@media(max-width: 1100px) {
  .messageForm .halfWidth {
      flex-basis: 93%;
  }
}

@media(max-width: 900px) {
  .container .row {
      flex-wrap: wrap;
  }

  .row section.left,
  .row section.right {
      flex-basis: 95%;
      margin: 0px;
  }
}