@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Doodle+Shadow&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    border: none;
    outline: none;
    scroll-behavior:smooth ;
}




:root {
    --primary-color-dark: #052659;
    --primary-color-light: #2691fc;
    --primary-color: #01a2ff;
    --primary-btn-color: #00B3FF;
    --text-grey: #333333;
    --text-light: #efefef;
    --white: #ffffff;
    --black: #000000;
    --max-width: 1440px;
}

body {
   background-color: #ffffff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #ffffff51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

/* Scroll Stuff */

.scroll-down header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up header {
    filter: drop-shadow(0 -10px 20px #fff);
}

/* End scroll stuff */

.logo {
    font-size: 2rem;
    color: var(--white);
    user-select: none;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}
.logo img{
    width: 60px;
    height: 50px;
}
.nav a {
    position: relative;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background: #00bfff;
    border-radius: 5px;
    transform-origin: right;
    transform: scalex(0); 
    transition: transform .5s;
}

.nav a:hover::after {
    transform-origin: left;
    transform: scalex(1);
}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: var(--primary-btn-color);
    border: 2px var(--primary-btn-color);
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--text-light);
    font-weight: 500;
    margin-left: 40px;
    transition: .553
}

.btnLogin-popup a {
    text-decoration: none;
    color: var(--text-dark);
}

.btnLogin-popup:hover {
    background: var(--white);
    color: var(--primary-color);
}
/* MGA TITLE*/

.title h1{
  margin-top: 30px;
  margin-left: 17.5rem;
  margin-bottom: 27px;
  font-weight: 900;
  font-size: 23px;
  background-color: #fff;
}
.titl3 h1{
  margin-top: 90px;
  margin-left: 18.5rem;
  margin-bottom: 27px;
  font-weight: 900;
  font-size: 23px;
  background-color: #fff;
}

/*  PACKAGE TOUR CONTAINER 1*/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 50px 50px 50px;
  background-color: #ffffff;
  
}
.highlightblue{
  color: #00B3FF;
}
.prices {
  font-weight: 900;
  font-size: 15px;
}
.tour{
  width: 230px;
  margin: 0 10px;
  border-radius: 15px;
  transition: 1s;
  
}

.tour-image{
  height: 280px;
  margin-bottom: 10px;
  align-items: center;
  background-size: cover;
  border-radius: 15px 15px 15px 15px; 
  transition: 1s;
}
.tour-image:hover{
  transform: scale(1.1);
}


.tour-1{
  background-image: url('https://www.traveloffpath.com/wp-content/uploads/2024/02/The-Golden-Pavilion.-Kinkakuji-Temple-in-Kyoto-Japan.jpg')
}
.tour-2{
  background-image: url('https://www.indianholiday.com/pictures/tourgallery/712/switzerland-and-paris-tour-7434.jpg')
}
.tour-3{
  background-image: url('https://www.holidify.com/images/bgImages/ROME.jpg')
}
.tour-4{
  background-image: url('https://images.adsttc.com/media/images/5254/4190/e8e4/4eff/0200/06cf/slideshow/sfpassio.jpg?1381253501')
}
.tour-5{
  background-image: url('https://media02.stockfood.com/largepreviews/MjIxNDU3OTM5NQ==/71438045-Golden-Chedi-Phrathatluang-of-the-Buddhist-temple-complex-Wat-Phra-Singh-at-dusk-Chiang-Mai-Thailand-Asia.jpg')
}
.tour-6{
  background-image: url('https://media.ceetiz.com/activity/SEOSEO005/N-seoul-tower-memorial-guerre-coree-ceetiz.jpg')
}
.tour-7{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2e/Singapore_Skyline_2019-10.jpg')
}
.tour-8{
  background-image: url('https://www.touropia.com/gfx/b/2019/09/lapland-1.jpg')
}
.tour h2 {
  padding: 10px;
}
.tour p {
  padding: 10px;
  color: #00B3FF;
}
.tour a{
  color: rgb(6, 135, 255);
  padding: 10px;
}
.read-more {
  color: #00B3FF;
  cursor: pointer;
  margin-left: 0.5px;
  background-color: #ffffff;
}
.read-moore {
  color: #00B3FF;
  cursor: pointer;  
  margin-left: 1px;
  background-color: #ffffff;
}

/* Services CONTAINER2 */

.container2 { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 50px 80px 50px;
  background-color: #ffffff;
}
.services{
  
  width: 320px;
  margin: 10px;
  border-radius: 15px;
}

.service-image{
  height: 220px;
  margin-bottom: 10px;
  background-size: cover;
  border-radius: 15px 15px 15px 15px;
  transition: 1s;
}
.service-image:hover{
  transform: scale(1.1);
}

.service-1{
  background-image: url('https://media.licdn.com/dms/image/C5612AQEpFavDU_pY-w/article-cover_image-shrink_600_2000/0/1632773082680?e=2147483647&v=beta&t=RW4wLrZZufPNqGDMnPqPg1pOW8Mnb4G1Kxd0mGfuHl0')
}
.service-2{
  background-image: url('https://guidaviaggionline.it/wp-content/uploads/lucca-italia.jpg')
}
.service-3{
  background-image: url('https://www.drinkbien.com/cdn/shop/files/carte-b-1.jpg?v=1695922097&width=750')
}
.service-4{
  background-image: url('https://img.freepik.com/premium-photo/transport-tourism-road-trip-people-concept-group-happy-passengers-boarding-travel-bus_380164-138910.jpg?w=740')
}
.service-5{
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSugiB1etjZhv3ySauNSNeBhUeTzvnmNcWJB3g0OkOhdgjBCfHd')
}
.service-6{
  background-image: url('https://cdn.mos.cms.futurecdn.net/kQwELAJZc38Df6ewy7qkSZ-1024-80.jpg.webp')
}

.services h2 {
  padding: 10px;
}
.services p {
  padding: 10px;
}
.services a{
  color: rgb(6, 135, 255);
  padding: 10px;
}

/* BOOK now SECTION */

.container-3 {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(to right, #0871AC , #077abd8c, #87CAF0);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

/*honda*/

.box-6 {
  height: 400px;
  width: 570px;
  background-color: #efefef86;
  border-radius: 20px;
  padding: 20px;
}


.form-group .btn {
  display: flex;
  align-self: center;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border-radius: 30px;
  border: none;
  background-color: #00B3FF;
}

/*Customer Section*/

.customer {
  display: flex;
  align-items:center;
  padding-top: 0px;
  padding-left: 16rem;
  background-color: #fff;
  
}

.containertwo {
  background: #ffffff;
  padding: 20px;
  font-family: monospace;
  width: 100%;
  
}
.head{
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text {
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 0.9em;
}

.commentbox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.commentbox > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}
.content{
  width: 100%;
}
.user {
  border: none;
  outline: none;
  margin: 5px 0;
  color: #808080;
  margin-left: 20px;
  padding: 10px;
}
.commentinput > input {
  border: none;
  padding: 10px;
  padding-left: 0;
  outline: none;
  border-bottom: 2px solid #00B3FF;
  margin-bottom: 10px;
  width: 95%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3f3f3f;
}

.buttons button.disabled {
  padding: 5px 10px;
  background: white;
  color: #3f3f3f;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;

}

.buttons button.abled {
  background: #00B3FF;
  color: #fff;
  border-radius: 10px;
  width: 10%;
}

.deleteAllBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: white;
  margin-right: 6rem;
  cursor: pointer;
}

.policy {
  margin: 20px 0;
  font-size: 0.8 rem;
  font-family: Arial, sans-serif;
  color: #808080;
}

.policy a {
  text-decoration: none;
  color: blue;
}

.notify >input {
  margin-right: 5px;
}

.parents {
  font-family: Arial, Sans-serif;
  display: flex;
  margin-bottom: 30px;
}
.parents h1 {
  font-size: 0.9em;
}

.parents p {
  margin: 10px 0;
  font-size: 0.9em;
}

.parents > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 2rem;
}

.attach img {
  width: 200px;
  height: 200px;
  display: wrap;
  justify-content: space-around;
  margin-left: 5px;
  border-radius: 10px;
}

.engagements {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.engagements img{
  width: 10px;
}

.engagements img:nth-child(1) {
  margin-right: 10px;
  width: 10px;
}

.date {
  color: #808080;
  font-size: 0.8em;
}

.deleteBtn {
  color: #808080;
  font-size: 0.8em;
  background-color: white;
}


/*ICONS*/

.tour img{
  height: 10px;
  width: 10px;
  margin-right: 5px;
}

.tour-details {
  display: flex;
  justify-content: space-between;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation ease 2s forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


/* ------  Footer   ------ */

.footer_container{
  max-width: 1080px;
  margin:auto;
  height: fit-content;

}


.row{
  display: flex;
  flex-wrap: wrap;
  
}




ul{
  list-style: none;
}



.footer{
  
  background-color: #333333b9;
  padding: 20px 0;
}




.footer-col{
   width: 20%;
   padding: 0 15px;
}




.footer-col h4{
  font-size: 15px;
  color: var(--text-light);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}








.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}




.footer-col ul li a{
  font-size: 12px;
  color: var(--text-light);
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}




.footer-col ul li a:hover{
  color: var(--primary-color-light);
  padding-left: 8px;
}




.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--black);
  transition: all 0.5s ease;
}




.footer-col .social-links a:hover{
  color: var(--primary-btn-color);
  background-color: var(--text-grey);
}




#icons {
  color: var(--primary-btn-color);
}




hr {
  border: 1px solid var(--text-light);
}








.foot_logo img {
  display: flex;
  width: 50px;
  height: auto;
}




@media (max-width:1440px) {
  header{
      padding: 20px 4%;
  }
}
@media (max-width:1366px) {
  .logo {
      font-size: 25px;
  }
  .logo img {
      width: 40px;
      height: auto;
  }
  .navlist a {
      margin: 0 25px;
  }
  .nav_btn {
      padding: 11px 23px;
  }
  .container_tagline h1{
      font-size: 3.2rem;
  }
}




@media (max-width:1024px) {
  .logo {
      font-size: 20px;
  }
  .logo img {
      width: 30px;
      height: auto;
  }
  .navlist a {
      margin: 0 18px;
  }
  .nav_btn {
      padding: 6px 15px;
  }
  .container_tagline h1{
      font-size: 2.5rem;
  }
}




@media (max-width:893px) {
  header{
      padding: 13px 2%;
  }
  .logo {
      font-size: 16px;
  }
  .logo img {
      width: 25px;
      height: auto;
  }
  .navlist a {
      margin: 0 15px;
  }
  .nav_btn {
      padding: 3px 12px;
  }
  .container_tagline h1{
      font-size: 2.0rem;
  }




}




@media (max-width: 794px) {
  .navlist a {
      margin: 0 12px;
  }
  .nav_btn {
      padding: 3px 9px;
  }
  .container_tagline h1{
      font-size: 1.8rem;
  }




}








@media (max-width:768px) {
  .header {
      display: none;
      padding: 10px 2%;
  }
  #menu-icon {
      display: block;
  }
  .navlist{
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(32px);
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 180px;
      transition: all .7s ease;
  }
  .navlist a{
      display: block;
      padding: 0;
      margin: 0px 0px 50px 0px;
      font-size: 1.7rem;
  }
  .navlist.open {
      right: 0;
  }
  .nav_btn {
      display: none;
  }
}




@media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col {
    width: 100%;
}
}




@media (max-width:450px) {
  .container_tagline h1{
      font-size: 2.5rem;
  }
}
