@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Doodle+Shadow&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
}




:root {
    --primary-color-dark: #052659;
    --primary-color-light: #2691fc;
    --primary-color: #01a2ff;
    --primary-btn-color: #00B3FF;
    --text-grey: #333333;
    --text-light: #efefef;
    --white: #ffffff;
    --black: #000000;
    --max-width: 1440px;
}

body {
   background-color: #efefef;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #ffffff51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

/* Scroll Stuff */

.scroll-down header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up header {
    filter: drop-shadow(0 -10px 20px #fff);
}

/* End scroll stuff */

.logo {
    font-size: 2rem;
    color: var(--white);
    user-select: none;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo img{
    width: 60px;
    height: 50px;
}
.nav a {
    position: relative;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background: #00bfff;
    border-radius: 5px;
    transform-origin: right;
    transform: scalex(0); 
    transition: transform .5s;
}

.nav a:hover::after {
    transform-origin: left;
    transform: scalex(1);
}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: var(--primary-btn-color);
    border: 2px var(--primary-btn-color);
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--text-light);
    font-weight: 500;
    margin-left: 40px;
    transition: .553
}

.btnLogin-popup a {
    text-decoration: none;
    color: var(--text-dark);
}

.btnLogin-popup:hover {
    background: var(--white);
    color: var(--primary-color);
}

.container_tagline {
    background: url(images/aboutuswallpaper.png) no-repeat;
    background-size: cover;
    width: 100%; 
    height: 720px;
    background-repeat: no-repeat;
    padding-block: 30rem 10rem;
    padding-top: 250px;
    border-width: 100px;
}

.container_tag .box {
    margin: auto;
    background-color: #555454c5;
    font-size: 50px;
    font-weight: 50;
    color: var(--text-light);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}


.container_tag .box p{
    font-size: 50%;
    font-weight: 500;
    margin-left: 6%;
    margin-right: 6%;
    color: var(--text-light);
    text-align: center;
}


/*CENTER*/

.center{
    height: 750px;
    max-width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #ffffff;
}
.center-content {
    background-color: #ffffff;
    height: 600px;
    width: 1400px;
    display: flex;
    flex-direction: column; /* Adjusted to column for stacking */
    justify-content: center; 
    align-items: center;
    text-align: center;

}

.contend-d{
    height: 300px;
    width: 700px;
    display: flex;
    flex-direction: column; /* Adjusted to column for stacking */
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.contend-d h1{
    margin-bottom: 20px;
    font-size: 35px;
}
.contend-d p{
    text-align: left;
    line-height: 2;
}

.center-content h1{
    margin: 0;
}

.years {
    height: 90px;
    width: 700px;
    display: flex;
}

.service{
    height: 90px;
    width: 100px;
    display: wrap;
    margin: 0 40px;
    text-align: left;
}
.service h1{
    color: #00bfff;
}


/*SUCCESSS*/

.container_success {
    background-color: #55ccff;
    max-width: 100%;
    height: 350px;
    display: flex;
    justify-content: center; 
    align-items: center;
} 


.con-success {
    background-color: #ffffff;
    height: 180px;
    width: 300px;
    margin: 0 40px; /* Add space between each box */
    border-radius: 25px;
    display: flex;
    flex-direction: column; /* Adjusted to column for stacking */
    justify-content: center; 
    align-items: center;
    text-align: center; /* Center align text */
}

.con-success img {
    height: 80px;
    width: 80px;
    margin-bottom: 10px; /* Add space between image and text */
}

.con-success p {
    margin: 0; /* Remove default margin */
}

/*SUCCESSS*/

.title {
    background-color: white;
    text-align: center;
    color: #00B3FF;

}

.line h1{
    background-color: white;
    text-align: center;
    color: #00B3FF;
    font-weight:normal;
}

.role {
    font-weight: lighter;
    font-family: "EB Garamond", serif;

}

.creator {
    background-color: #ffffff;
    max-width: 100%;
    height: 550px;
    display: flex;
    justify-content: center; 
    align-items: center;
} 


.user {
    background-color: #ffffff;
    height: 400px;
    width: 300px;
    margin: 0 40px; /* Add space between each box */
    border-radius: 25px;
    display: flex;
    flex-direction: column; /* Adjusted to column for stacking */
    justify-content: center; 
    align-items: center;
    text-align: center; /* Center align text */
    border: 5px dashed #ade1ff;
}

.user img {
    height: 230px;
    width: 220px;
    margin-bottom: 10px; /* Add space between image and text */
    border-radius: 50%;
}

.names {
    margin: 0; /* Remove default margin */
    font-weight: bold;
    color: #00B3FF;
}

/* FOOT*/

.footer_container{
    max-width: 1080px;
    margin:auto;
    height: fit-content;

}


.row{
    display: flex;
    flex-wrap: wrap;  
}




ul{
    list-style: none;
}



.footer{
    
    background-color: #333333b9;
    padding: 20px 0;
}




.footer-col{
     width: 20%;
     padding: 0 15px;
}




.footer-col h4{
    font-size: 15px;
    color: var(--text-light);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}








.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}




.footer-col ul li a{
    font-size: 12px;
    color: var(--text-light);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}




.footer-col ul li a:hover{
    color: var(--primary-color-light);
    padding-left: 8px;
}




.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--black);
    transition: all 0.5s ease;
}




.footer-col .social-links a:hover{
    color: var(--primary-btn-color);
    background-color: var(--text-grey);
}




#icons {
    color: var(--primary-btn-color);
}




hr {
    border: 1px solid var(--text-light);
}








.foot_logo img {
    display: flex;
    width: 50px;
    height: auto;
}




@media (max-width:1440px) {
    header{
        padding: 20px 4%;
    }
}
@media (max-width:1366px) {
    .logo {
        font-size: 25px;
    }
    .logo img {
        width: 40px;
        height: auto;
    }
    .navlist a {
        margin: 0 25px;
    }
    .nav_btn {
        padding: 11px 23px;
    }
    .container_tagline h1{
        font-size: 3.2rem;
    }
}




@media (max-width:1024px) {
    .logo {
        font-size: 20px;
    }
    .logo img {
        width: 30px;
        height: auto;
    }
    .navlist a {
        margin: 0 18px;
    }
    .nav_btn {
        padding: 6px 15px;
    }
    .container_tagline h1{
        font-size: 2.5rem;
    }
}




@media (max-width:893px) {
    header{
        padding: 13px 2%;
    }
    .logo {
        font-size: 16px;
    }
    .logo img {
        width: 25px;
        height: auto;
    }
    .navlist a {
        margin: 0 15px;
    }
    .nav_btn {
        padding: 3px 12px;
    }
    .container_tagline h1{
        font-size: 2.0rem;
    }




}




@media (max-width: 794px) {
    .navlist a {
        margin: 0 12px;
    }
    .nav_btn {
        padding: 3px 9px;
    }
    .container_tagline h1{
        font-size: 1.8rem;
    }




}








@media (max-width:768px) {
    .header {
        display: none;
        padding: 10px 2%;
    }
    #menu-icon {
        display: block;
    }
    .navlist{
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(32px);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 180px;
        transition: all .7s ease;
    }
    .navlist a{
        display: block;
        padding: 0;
        margin: 0px 0px 50px 0px;
        font-size: 1.7rem;
    }
    .navlist.open {
        right: 0;
    }
    .nav_btn {
        display: none;
    }
}




@media(max-width: 767px){
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}
@media(max-width: 574px){
    .footer-col {
      width: 100%;
  }
}




@media (max-width:450px) {
    .container_tagline h1{
        font-size: 2.5rem;
    }
}
