@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth ;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color-dark: #052659;
    --primary-color-light: #2691fc;
    --primary-color: #01a2ff;
    --primary-btn-color: #00B3FF;
    --text-grey: #333333;
    --text-light: #efefef;
    --white: #ffffff;
    --black: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #ffffff2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo {
    font-size: 2rem;
    color: var(--white);
    user-select: none;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo img{
    width: 60px;
    height: 50px;
}
.main-content{
    background: url(images/header.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
}


.nav a {
    position: relative;
    font-size: 1.1rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background: #00bfff;
    border-radius: 5px;
    transform-origin: right;
    transform: scalex(0); 
    transition: transform .5s;
}

.nav a:hover::after {
    transform-origin: left;
    transform: scalex(1);
}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: var(--primary-btn-color);
    border: 2px var(--primary-btn-color);
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--text-light);
    font-weight: 500;
    margin-left: 40px;
    transition: .553
}

.btnLogin-popup a {
    text-decoration: none;
    color: var(--text-dark);
}

.btnLogin-popup:hover {
    background: var(--white);
    color: var(--primary-color);
}

.container_tagline {
    padding-block: 10rem 15rem;
}

.container_tagline p{
    margin-bottom: 4rem;
    font-size: 1.2rem;
    color: #333333b0;
    text-align: center;
}

.container_tagline h1 {
    margin: auto;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: var(--text-light);
    text-align: center;
}

.container_tagline .outline_text {
    font-weight: 600;
    font-style: italic;
    color: #fff700;
}

.grey_container {
    display: flex;
    background-color: red;
    background-size: 80px;
    border-radius: 40px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 95%;
}

.tours {
    display: block;
    align-items: center;
    justify-content: left;
    margin: 10px;
    padding: 20px;
    
}

.pub-tours__container h2 {
    font-size: 25px;
    font-weight: 600;
    justify-content: center;
}
  
.pub-tours__container {
    display: flex;
    background-color: var(--white);
    background-size: 45px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: 20vh;
}
  
.pub-tours__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-right: 10px;
    background-color: #00B3FF;
}
  
.pub-tours__form-group {
    flex: 1 1 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
}

.pub-tours__form-group span {
    font-size: 1.75rem;
}
.pub-tours__form-group label {
    font-weight: 500;
    color: var(--text-dark);
}

.pub-tours__form-group input {
    display: block;
    width: 70%;
    max-width: 150px;
    padding-block: 5px;
    color: var(--text-dark);
    font-size: 0.9rem;
    outline: none;
    border: none;
}

.pub-tours__form-group input::placeholder {
    color: #ccccccc5;
}
  
.pub-tours__form-group input, .public-tours__form-group select {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.containers{
    text-align: center;
}

.container {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.box-1 {
    height: 400px;
    width: 700px;
    background-color: var(--white);
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid var(--primary-color);
    position: relative; /* Make the triangle absolute for positioning within box-1 */
    top: 50%; /* Position the triangle vertically at 50% (center) */
    left: 40%; /* Position the triangle horizontally at 50% (center) */
    transform: translate(-40%, -50%);
}

.box-1 img {
    height: 300px;
    position: relative; /* Make the image absolute for layering on top of box-1 */
    top: 0; /* Position the image at the top of box-1 */
    left: 0; /* Position the image at the left of box-1 */
}

.box-2 {
    height: 400px;
    width: 700px;
    background-color: var(--white);
}

.box-2 {
    text-align: justify;
    padding: 50px;
}

.box-2 h2 h5 p ul {
    align-self: center;
}

.box-2 h2 {
    padding-bottom: 10px;
    padding-top: 20px;
}

.box-2 h5 {
    color: #3333336c;
    font-size: 15px;
    font-weight: 500;
}

.box-2 p {
    padding-bottom: 10px;
    padding-top: 20px;
}


.box-2 ul {
    list-style-type: none;
    padding: 10;
    display: flex;
    color: var(--primary-color-light);
}

.box-2 ul li {
    margin-right: 20px;
    font-size: 18px;
}

.grey {
    color: #333333a9;
    font-size: 15px;
}

.box-3 {
    height: 50px;
    width: 700px;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-2 {
    height: 350px;
    width: 100vw;
    background-size: cover;
    background-image: linear-gradient(to right, #18c8dfdb , #30A3E4, #87CAF0);
    display: flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.box-4 {
    height: 300px;
    width: 520px;
    background-color: #efefef86;
    border-radius: 20px;
    padding: 50px;
}

.box-4 h2 {
    font-size: 23px;
    font-weight: 600;
    color: red;
    padding-bottom: 20px;
}

.box-4 p {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
}

.box-4 .btn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border-radius: 30px;
    border: none;
    background-color: #00B3FF;
}

.box-5 {
    height: 250px;
    width: 500px;
    background-color: transparent;
    border-radius: 20px;
}

.box-5 img {
    height: 400px;
    position: relative;
    margin-right: 10px;
}


/* ------  Footer   ------ */

.footer_container {
    max-width: 1080px;
    margin: auto;
    height: fit-content;
}

.row {
    display: flex;
}

ul {
    list-style: none;
}

.footer {
    background-color: #3f3e3e;
    padding: 20px 0;
    width: 10000px;
}

.footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 15px;
    color: var(--text-light);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 12px;
    color: var(--text-light);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--primary-color-light);
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--black);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: var(--primary-btn-color);
    background-color: var(--text-grey);
}

#icons {
    color: var(--primary-btn-color);
}

hr {
    border: 1px solid var(--text-light);
}

.foot_logo img {
    display: flex;
    width: 50px;
    height: auto;
}


.footer-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5000px;
    height: 100px; /* Adjust as needed */
    background-color: #3f3e3e; /* Color of the footer */
    z-index: -1; /* Ensures the footer is behind other content */
}

/* ------  Footer End   ------ */

@media (max-width:1440px) {
    header {
        padding: 20px 4%;
    }
}

@media (max-width:1366px) {
    .logo {
        font-size: 25px;
    }

    .logo img {
        width: 40px;
        height: auto;
    }

    .navlist a {
        margin: 0 25px;
    }

    .nav_btn {
        padding: 11px 23px;
    }
}


@media (max-width:1024px) {
    .logo {
        font-size: 20px;
    }

    .logo img {
        width: 30px;
        height: auto;
    }

    .navlist a {
        margin: 0 18px;
    }

    .nav_btn {
        padding: 6px 15px;
    }

}


@media (max-width:893px) {
    header {
        padding: 13px 2%;
    }

    .logo {
        font-size: 16px;
    }

    .logo img {
        width: 25px;
        height: auto;
    }

    .navlist a {
        margin: 0 15px;
    }

    .nav_btn {
        padding: 3px 12px;
    }

}


@media (max-width: 794px) {
    .navlist a {
        margin: 0 12px;
    }

    .nav_btn {
        padding: 3px 9px;
    }

}




@media (max-width:768px) {
    .header {
        display: none;
        padding: 10px 2%;
    }

    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(32px);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 180px;
        transition: all .7s ease;
    }

    .navlist a {
        display: block;
        padding: 0;
        margin: 0px 0px 50px 0px;
        font-size: 1.7rem;
    }

    .navlist.open {
        right: 0;
    }

    .nav_btn {
        display: none;
    }
}


@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media(max-width: 1100px) {
    .messageForm .halfWidth {
        flex-basis: 93%;
    }
}

@media(max-width: 900px) {
    .container .row {
        flex-wrap: wrap;
    }

    .row section.left,
    .row section.right {
        flex-basis: 95%;
        margin: 0px;
    }
}


