@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Doodle+Shadow&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior:smooth ;
  font-family: "Poppins";
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}

section{
  min-height: 10vh;
  padding: 10rem 9% 2rem;
}

:root {
  --primary-color-dark: #052659;
  --primary-color-light: #2691fc;
  --primary-color: #01a2ff;
  --primary-btn-color: #00B3FF;
  --text-grey: #333333;
  --text-light: #efefef;
  --white: #ffffff;
  --black: #000000;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #ffffff2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.logo {
  font-size: 2rem;
  color: var(--white);
  user-select: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img{
  width: 50px;
  height: 50px;
}

.nav a {
  position: relative;
  font-size: 1.1rem;
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 3px;
  background: #00bfff;
  border-radius: 5px;
  transform-origin: right;
  transform: scalex(0); 
  transition: transform .5s;
}

.nav a:hover::after {
  transform-origin: left;
  transform: scalex(1);
}

.nav .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: var(--primary-btn-color);
  border: 2px var(--primary-btn-color);
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--text-light);
  font-weight: 500;
  margin-left: 40px;
  transition: .553
}

.nav .btnLogin-popup:hover {
  background: var(--white);
  color: var(--primary-color);
}
  /* PROGRESS*/
.booking-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

.step.active {
    color: #007bff;
    
}
.step {
    flex: 1;
    text-align: center;
    color: #9b9b9b;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}
.step::before {
    content: "3";
    width: 30px;
    height: 23px;
    align-items: center;
    border-radius: 50%;
    background-color: #007bff;
    border: 2px solid #007bff;
    display: block;
    margin: 10px auto 10px auto;
    color: #ffffff;
}

.step2 {
    flex: 1;
    text-align: center;
    color: #9b9b9b;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

.step2::before {
    content: "1";
    width: 30px;
    height: 23px;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #007bff;
    display: block;
    margin: 10px auto 10px auto;
}

.step3 {
    flex: 1;
    text-align: center;
    color: #9b9b9b;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

.step3::before {
    content: "2";
    width: 30px;
    height: 23px;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #007bff;
    display: block;
    margin: 10px auto 10px auto;
}

/*Container*/

.container {
    height: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 50px 0px 80px ;
}

.title h1{
  padding: 80px  0 20px 0;
}

/*date*/
.visit {
  height: 600px;
  width: 500px;
  margin-bottom: 2px;
  margin-left: .5px;
}
.register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 550px;
  }
h2 {
    margin: 0;
    padding: 0;
}

.form-group {
    margin-bottom: 15px;
    padding: 10px 0 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 45rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex-wrap: nowrap;
    border-radius: 10px;
}

/* Payment*/

.payment-method {
  margin-top: 10px;
}

.payment-method label {
  margin-left: 10px;
  display: inline-block;
  font-weight: bold;
}

.payment-method p{
  display: inline-block;
  margin-left: 2px
}

.payment-method img {
  max-width: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

.payment-method img {
  width: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

.card-details input {
  width: 45%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card-what p {
  margin-top: 20px;
  margin-right: 170px;
  color: #00B3FF;
}

.card-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.visa {
  margin-left: 23rem;
  display: inline-block;
  
}

.credits img{
  max-width: 100px;
  margin-left: 10px;
  display: inline-block;
}

/*TIcket*/

.content {
  height: 600px;
  width: 500px;
  margin-bottom: 2px;
}
.tickets {
  display: flex;
  width: 500px;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  height: 500px;
}

.overview h1{
  padding: 20px  0 20px 10px;
}

/*Overview*/

.ticketoveriew{
  height: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 50px 0px 80px ;
  background-color: #007bff;
  width: 500px;
}
.ticket-image {
  background-color: #007bff;
  height: 120px;
  width: 161px;
  background-size: cover;
  border-radius: 15px 15px 15px 15px;
  margin-left: 10px;
  flex-shrink: 0;
  float:left;
}

.ticket-1 {
  background-image: url('https://www.touropia.com/gfx/b/2019/09/lapland-1.jpg')
}

.information {
  margin-left: 18rem;
}

.ticket-details {
  margin-top: 10rem;
  margin-left: 10px;
}
.priceadult{
  margin-left: 25rem;
}
.adult{
  margin-top: 120px;
}
.pricechild{
  margin-left: 27.9rem;
}
.child{
  margin-top: 40px;
}
.priceinfant {
  margin-left: 28.2rem;
}
.infant{
  margin-top: 40px;
}
.pricetotal {
  margin-left: 25rem;
}
.total {
  margin-top: 25px;
  margin-left:10px;
}
.next {
  background-color: #00B3FF;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 1rem;
  width: 400px;
  margin-top: 25px;
}


.slide-right {
  animation: slideRightAnimation 1s ease forwards;
}

@keyframes slideRightAnimation {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
